<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistente Documentos</title>
   <link rel="stylesheet" href="C:\Users\paoll\OneDrive\DOCS\BPK\proj\projeto_busca_juridico\static\css\style.css">
</head>
<body>

    <div class="topo">
    <div> Fale Conosco | (xx) xxxx-xxx </div>
    <div>
      <button style="border:1px solid #e50046;background:none;color:white;padding:5px 10px;border-radius:15px;">Botão</button>
      <a href="#" style="color:white;text-decoration:none;margin:0 10px;">Pesquisar documento</a>
      <a href="#" style="color:white;text-decoration:none;">Perguntar sobre documento</a>
    </div>
  </div>

  <header>
    <img src="" height="40" alt="Logodocs">
    <nav>
      <a class= "titulos">Assistente Juridico | Busca de documentos</a>
    </nav>
    <button class="botao">Botão</button>
  </header>
    </div> 
    <div class="container">
        <header>
            <p>Faça uma pergunta sobre os documentos carregados no sistema.</p>
        </header>

        <main>
            <form action="/" method="POST">
                <textarea name="question" rows="3" placeholder="Ex: Qual a cláusula de rescisão do contrato com a empresa X?"></textarea>
                <button type="submit">Perguntar</button>
            </form>
            <div class="result">
                <h2>Resposta</h2>
                <div class="answer-box">
                    <p>{{ answer | replace('\n', '<br>') | safe }}</p>
                </div>

                {% if context %}
                <div class="context">
                    <h3>Contexto Utilizado (Documentos Mais Relevantes)</h3>
                    {% for doc in context[:3] %} {# Mostra os 3 trechos mais importantes #}
                    <div class="context-item">
                        <p class="metadata">
                            <strong>Arquivo de Origem:</strong> {{ doc.arquivo_origem }} <br>
                            <strong>Score de Relevância:</strong> {{ "%.4f"|format(doc.score_reranker) }}
                        </p>
                        <p class="text">"...{{ doc.texto }}..."</p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

            </div>
            {% endif %}
        </main>
    </div>
</body>
</html>